import React,{ FC } from 'react';

import {} from './{{pascalCase name}}Styles.js';

export type Props = {};

const {{pascalCase name}}:FC<Props> = () => {
    return (
        <div>
            {{pascalCase name}}
        </div>
    );
}

export default {{pascalCase name}};